@font-face {
  font-family: "element-icons"; /* Project id 4461169 */
  src: url('iconfont.woff2?t=1710133917798') format('woff2'),
       url('iconfont.woff?t=1710133917798') format('woff'),
       url('iconfont.ttf?t=1710133917798') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-types:before {
  content: "\e62c";
}

.el-icon-yuan:before {
  content: "\e657";
}

.el-icon-eye-close:before {
  content: "\eb45";
}

.el-icon-eye-open:before {
  content: "\eb46";
}

.el-icon-hierarchy:before {
  content: "\e641";
}

